.jumbotron {
    background-color:#A6BB8D ;
    color: #473C33;
    font-family: 'Quicksand', sans-serif;
}

body {
    font-family: 'Ubuntu', sans-serif;
    background-color: #F0ECCF;
    font-size: 18px;
}
